@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Gotham';
  src: url('../pages/fonts/Gotham-Medium.eot');
  src: url('../pages/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('../pages/fonts/Gotham-Medium.woff2') format('woff2'),
      url('../pages/fonts/Gotham-Medium.woff') format('woff'),
      url('../pages/fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('../pages/fonts/Gotham-BookItalic.eot');
  src: url('../pages/fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('../pages/fonts/Gotham-BookItalic.woff2') format('woff2'),
      url('../pages/fonts/Gotham-BookItalic.woff') format('woff'),
      url('../pages/fonts/Gotham-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
body{
  background-color: #ffff;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gotham';
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marquee { 
  animation: marquee 18s linear infinite;
}

.marquee span { 
  white-space: nowrap; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.sliderbg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.merriweather-font {
  font-family: "Merriweather", serif;
}

.gotham-font{ 
  font-family: 'Gotham';
}

.libre-baskerville {
  font-family: "Merriweather", serif;
}

.galleryBg{background: linear-gradient(180deg, rgba(0, 0, 0, 0) 71.5%, rgba(0, 0, 0, 0.8) 100%);
}
html{
  scroll-behavior: smooth;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #1C64F2;
  background-color: #fff;
  border-color: #6B7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1C64F2;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked,.dark [type='checkbox']:checked,.dark [type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 0.55em 0.55em;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxjaXJjbGUgY3g9IjciIGN5PSI3IiByPSI3IiBmaWxsPSIjRUU4MzRFIi8+DQo8L3N2Zz4NCg==");
  background-size: 14px 14px;
}

 
[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
  background-color: currentColor;
  border-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}
.result-box .list {width: 50%;padding: 0 6px;}
.g-recaptcha  iframe{
  transform:scale(0.87);
  transform-origin:0 0;
}
@media (min-width:400px){
  .result-box .list {
    width: 50%;
    padding: 0 15px;
}
}
@media (min-width:576px){
  .result-box .list {
    width: 33.33%;
    padding: 0 15px;
}
}
@media (min-width:768px){
  .result-box .list {
    width: 33.33%;
    padding: 0 15px;
}
}
@media (min-width:1200px){
  .result-box .list {
    width: 20%;
    padding: 0 15px;
}
}
@media (max-width:1200px){
  .g-recaptcha  iframe{
    transform:scale(0.77);
    transform-origin:0 0;
  }
}

@media (max-width:575px) {
  .director-box { 
    display: block;
  }
}

/* Add this to your global CSS file or a specific CSS module */
.custom-swiper-navigation .swiper-button-next,
.custom-swiper-navigation .swiper-button-prev {
  color: white; /* Change arrow color to white */
}

.custom-swiper-navigation .swiper-button-next::after,
.custom-swiper-navigation .swiper-button-prev::after {
  font-size: 20px; /* You can adjust the arrow size if needed */
}

.Gotham-reguler{
  font-family: 'Gotham';
  font-weight: 400;
  font-style: italic;
}
.button-animation {  
  background: #EE834E;
  background-image: linear-gradient(to left, transparent, transparent 50%, #ECCD6E 50%, #ECCD6E); background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
}
.button-animation:hover {
  background-position: 0 0;
  color: #333;
}

.button-animation-border {  
  background: #fff;
  background-image: linear-gradient(to left, transparent, transparent 50%, #ECCD6E 50%, #ECCD6E); background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
}
.button-animation-border:hover {
  background-position: 0 0;
  color: #333;
}



/* width */
.custom_scroll::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.custom_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.custom_scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
/* Handle on hover */
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.gallery-text{
  background: linear-gradient(0deg, rgb(0 0 0 / 81%) 30%, rgba(0, 212, 255, 0) 100%)
}
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    to right,
    #e0e0e0 0%,
    #f7f7f7 20%,
    #e0e0e0 40%,
    #e0e0e0 100%
  );
  background-size: 1000px 100%;
}